<?xml version='1.0' encoding='utf-8'?>
<!-- 
App-o-Mat jQuery Mobile Cordova starter template
Copyright 2014 Lou Franco
https://github.com/app-o-mat/jqm-cordova-template-project
http://app-o-mat.com

MIT License
https://github.com/app-o-mat/jqm-cordova-template-project/LICENSE.md
-->

<!-- change the widget id to your id and update the version as appropriate -->
<widget id="com.antym.plat2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

	<!-- Edit to match the details of your app -->
    <name>CH Visions</name>
    <description>
       Antym Business Application
    </description>
    <author email="matt@antym.com" href="http://antym.com">
        Matt McGivney
    </author>
	<!-- END App Details -->

    <content src="index.html" />
    <access origin="*" />

	<preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#59595b"/>

</widget>
